{*** 사유 레이어 | mypage/layer_order_refund_reason.php ***}

<div class="layer_wrap_cont">
    <div class="ly_tit">
        <h4>
            <!--{ ? handleInfo.userHandleMode == 'b' }-->
            {=__('반품사유')}
            <!--{ : handleInfo.userHandleMode == 'r' }-->
            {=__('환불사유')}
            <!--{ : handleInfo.userHandleMode == 'e' }-->
            {=__('교환사유')}
            <!--{ / }-->
        </h4>
    </div>
    <div class="ly_cont">
        <div class="scroll_box">
            <h5>&nbsp;</h5>
            <div class="left_table_type">
                <em class="ly_date_day">{=__('작성일')} : {handleInfo.userHandleRegDt}</em>
                <table>
                    <colgroup>
                        <col style="width:20%;">
                        <col style="width:80%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">{=__('신청 사유')}</th>
                        <td>{handleInfo.userHandleReason}</td>
                    </tr>
                    <tr>
                        <th scope="row">{=__('메모')}</th>
                        <td>
                            <div class="reason_layer_meno">
                                {=nl2br(handleInfo.userHandleDetailReason)}
                            </div>
                        </td>
                    </tr>
                    <!--{ ? handleInfo.userHandleMode == 'b' || handleInfo.userHandleMode == 'r' }-->
                    <tr>
                        <th scope="row"><!--{ ? handleInfo.userHandleMode == 'b' }-->{=__('반품정보')}<!--{ : }-->{=__('환불정보')}<!--{ / }--></th>
                        <td>
                            <!--{ ? handleInfo.userRefundBankName }-->
                            {=nl2br(handleInfo.userRefundBankName)} / {=nl2br(handleInfo.userRefundAccountNumber)} / {=nl2br(handleInfo.userRefundDepositor)}
                            <!--{ : }-->
                            -
                            <!--{ / }-->
                        </td>
                    </tr>
                    <!--{ / }-->
                    </tbody>
                </table>
            </div>

            <!--{ ? handleInfo.userHandleFl !== 'r' }-->
            <h5>&nbsp;</h5>
            <div class="left_table_type">
                <em class="ly_date_day">{=__('작성일')} : {handleInfo.userHandleModDt}</em>
                <table>
                    <colgroup>
                        <col style="width:20%;">
                        <col style="width:80%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row"><!--{ ? handleInfo.userHandleFl === 'y' }-->{=__('승인사유')}<!--{ : }-->{=__('거절사유')}<!--{ / }--></th>
                        <td>
                            <div class="reason_layer_meno">
                                {=nl2br(handleInfo.adminHandleReason)}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--{ / }-->

        </div>
        <!-- //scroll_box -->
        <div class="btn_center_box">
            <button type="button" class="btn_ly_ok layer_close"><strong>{=__('확인')}</strong></button>
        </div>
    </div>
    <!-- //ly_cont -->
    <a href="#close" class="ly_close layer_close"><img src="../img/common/layer/btn_layer_close.png" alt="{=__('닫기')}"></a>
</div>
<!-- //layer_wrap_cont -->

