{*** 쇼핑몰 메인본문 | main/index.php ***}
{ # header }
{=includeWidget('proc/_populate.html', 'sno', '100')}
<div class="main_visual">
    {=includeWidget('proc/_slider_banner.html', 'bannerCode', '511517418')}
</div>
<!-- //main_visual -->
<div class="main_content">
    <div class="main_slide_ban">
        <div class="main_slide">
            <!--{ @dataBanner('378864211') }-->{.tag}<!--{ / }-->
        </div>
        <!-- //main_slide -->

        <div class="main_banner">
            <div class="main_ban_img01">
                <!--{ @dataBanner('735864301') }-->{.tag}<!--{ / }-->
            </div>
            <div class="main_ban_img02">
                <!--{ @dataBanner('3959528376') }-->{.tag}<!--{ / }-->
            </div>
            <div class="main_ban_img03">
                <!--{ @dataBanner('701821562') }-->{.tag}<!--{ / }-->
            </div>
        </div>
        <!-- //main_banner -->
    </div>
    <!-- //main_slide_ban -->
    <div class="main_goods_cont">
    <!-- 설문조사 배너 -->{=pollViewBanner()}<!-- 설문조사 배너 -->
    </div>
    <div class="main_goods_cont">
        <!-- 메인 상품 노출 -->{=includeWidget('goods/_goods_display_main.html', 'sno', '1')}<!-- 메인 상품 노출 -->
    </div>
    <!-- //main_goods_cont -->

    <div class="main_cont_slide_ban">
        <div class="main_cont_slide">
            {=includeWidget('proc/_slider_banner.html', 'bannerCode', '3040312042')}
        </div>
        <!-- //main_cont_slide -->
    </div>
    <!-- //main_cont_slide_ban -->

    <div class="main_goods_cont">
        <!-- 메인 상품 노출 -->{=includeWidget('goods/_goods_display_main.html', 'sno', '2')}<!-- 메인 상품 노출 -->
        <!-- 메인 상품 노출 -->{=includeWidget('goods/_goods_display_main.html', 'sno', '3')}<!-- 메인 상품 노출 -->
    </div>
    <!-- //main_goods_cont -->
	
	<div class="instagram_header">
		<div class="main_goods_cont" style="text-align: center;">
            <br>
			<h1>Instagram</h1>
            <br>
			{=includeWidget('proc/_insgo.html', 'sno', '1')}
		</div>
	</div>
	<div class="main_goods_cont" style="text-align: center;">
        <br>
        <h1>부자재</h1>
        <br>
        <a>
            <img style="width: 235px; height: 330px;" src="/data/skin/front/moment/img/banner/custom-banner01.png" alt="부자재배너">
        </a>
        <a href="http://bonitaria.com/goods/goods_list.php?cateCd=001">
            <img style="width: 235px; height: 330px;" src="/data/skin/front/moment/img/banner/custom-banner02.png" alt="시트자재배너">
        </a>
        <a href="http://bonitaria.com/goods/goods_list.php?cateCd=002">
            <img style="width: 235px; height: 330px;" src="/data/skin/front/moment/img/banner/custom-banner03.png" alt="실사자재배너">
        </a>
        <a href="http://bonitaria.com/goods/goods_list.php?cateCd=003">
            <img style="width: 235px; height: 330px;" src="/data/skin/front/moment/img/banner/custom-banner04.png" alt="각종부자재배너">
        </a>
        <a href="http://bonitaria.com/goods/goods_list.php?cateCd=005">
            <img style="width: 235px; height: 330px;" src="/data/skin/front/moment/img/banner/custom-banner05.png" alt="포인트배너">
        </a>
	</div>
	
</div>
<!-- //main_content -->



{ # footer }