@charset "utf-8";
/* CSS Document */


.mypage_zone_tit{margin:0 0 0 0; padding:0 0 10px 0; font-size:16px;}
.mypage_zone_tit h3{display:inline-block; font-size:16px;}
.mypage_zone_tit h4{font-size:16px;}
.mypage_zone_tit span{padding:0 0 0 5px; color:#777777; font-size:12px; font-weight:normal;}
.mypage_shipping .mypage_zone_tit h3{display:inline-block;}
.mypage_shipping .mypage_zone_tit .pick_list_num{display:inline-block;}

.pick_list_num{display:block; padding:20px 0 10px 0; font-size:14px;}
.pick_list_num strong{color:#ab3e55;}
.pick_list_day{display:block; padding:20px 0 10px 0; font-size:14px;}


/* 동록된 게시글 없음 */
#wrap .no_data{padding:50px 30px 50px 30px; /*border-bottom:1px solid #dbdbdb;*/ text-align:center;}


/* 1:1 문의 조회기간 영역 */
.date_check_box{margin:0 0 35px 0; padding:20px 20px 20px 30px; border:3px solid #eeeeee;}
.date_check_box:after{display:block; clear:both; content:"";}
.date_check_box h3{float:left; padding:6px 15px 0 0; color:#777777; font-size:13px;}
.date_check_list{float:left; padding:0 10px 0 0;}
.date_check_list button{float:left; width:54px; height:31px; margin:0 0 0 -1px; color:#777777; font-size:12px; border:1px solid #d6d6d6;}
.date_check_list button:hover,
.date_check_list button.on{color:#ffffff; background:#aeaeae;}
.date_check_calendar{position:relative; float:left; width:30.5%;}
.date_check_calendar .anniversary{width:45%; background:url('../../img/member/icon_calendar.png') no-repeat right center;}
/* 자주묻는 질문 검색 */
.date_faq_list{display:inline-block; width:70%;}
.date_faq_list h2{padding:0 0 10px 0;}
.date_faq_list input[type="text"]{width:70%;}
.date_faq_txt{display:inline-block; padding:10px 0 10px 50px; border-left:1px solid #dbdbdb;}
.date_faq_txt strong{display:block; padding:0 0 10px 0;}

.fc_delivery_finish{color:#ab3e55 !important;}/* 배송완료 */
.fc_refund_finish{color:#ab3e55 !important;}/* 환불완료 */

.mypage_main,
.mypage_cont{padding:0 0 50px 0;}


/* ------------- 기본 게시판 테이블 리스트  ------------- */
.board_list_table{width:100%; margin:0 0 20px 0; border:0; border-spacing:0; border-collapse:collapse; border-top:1px solid #3c3c3c; text-align:center;}
.board_list_table th{padding:10px 10px 10px 14px; border-bottom:1px solid #dbdbdb; background:#fbfbfb;}
.board_list_table td{padding:13px 10px 15px 10px; border-bottom:1px solid #dbdbdb;}
/* 게시판 이미지 */
.board_list_table .board_img{overflow:hidden; position:relative; text-align:center; border:1px solid #ebebeb;}
.board_list_table .board_img a{display:table-cell; height:100%; vertical-align:middle;}
/* 게시판 제목 */
.board_list_table .board_tit{text-align:left; vertical-align:middle;}
.board_list_table .board_tit strong{font-weight:normal;}
.board_list_table .board_tit strong > span{color:#ab3e55;}
.board_list_table .board_tit.on strong{font-weight:bold;}
.board_list_table .board_tit img{margin:0 2px 0 2px; vertical-align:middle;}
/* 게시판 제목 답글 */
.board_list_table .board_tit .reply{}
.board_list_table .board_tit .reply{margin:0 0 0 15px; padding:0 0 0 20px; background:url("../../img/icon/board/icon_comment_reply.png") no-repeat 8px 4px;}


/* ------------- 테이블 공통(텍스트 센터 기본) ------------- */
.mypage_table_type{}
.mypage_table_type .td_left{text-align:left;}
.mypage_table_type table{width:100%; border:0; border-spacing:0; border-collapse:collapse; text-align:center;}
.mypage_table_type th{padding:9px 10px 10px 10px; border-top:1px solid #999999; border-bottom:1px solid #dbdbdb; background:#f7f7f7;}
.mypage_table_type td{height:31px; padding:15px 10px 14px 10px; color:#777777; border-bottom:1px solid #dbdbdb; /*border-left:1px dotted #ededed;*/}
.mypage_table_type td > strong{color:#ab3e55;}
.mypage_table_type .btn_down_box{}
.mypage_table_type th .form_element{vertical-align:middle;}
.mypage_table_type .text_info{display:block; padding:2px 0 2px 0; color:#999999; font-size:11px;}
.mypage_table_type .coupon_price{color:#333333; font-size:14px;}
.mypage_table_type .coupon_price b{padding:0 2px 0 0; font-size:16px;}
.mypage_table_type .row_line td{border-bottom:1px solid #ebebeb;}
.mypage_table_type table td.order_day_num{border-right:1px dotted #ededed; border-bottom:1px solid #dbdbdb;}/* 날짜/주문번호 */
.mypage_table_type .btn_claim > span{display:inline-block; margin:7px 0 0 0;}
/* 상품 리스트 */
/*.mypage_table_type .form_element{margin:0 0 0 20px;}
.mypage_table_type .form_element label > .pick_add_cont{margin:0 0 0 30px;}*/
/* 상품 리스트 이미지 + 내용 */
.mypage_table_type .pick_add_cont{display:table; position:relative;}
.mypage_table_type .pick_add_cont .pick_add_img{display:table-cell; width:38px; vertical-align:top;}
.mypage_table_type .pick_add_cont .pick_add_img img{height:auto; border:1px solid #dbdbdb; vertical-align:middle;}
.mypage_table_type .pick_add_cont .pick_add_info{display:table-cell; padding:0 0 0 10px; vertical-align:middle;}
.mypage_table_type .pick_add_cont .pick_add_info em{display:block; color:#333333; font-weight:bold;}
.mypage_table_type .pick_add_cont .text_type_cont{display:block; padding:3px 0 3px 0; color:#a9a9a9; font-size:11px; line-height:1;}
.mypage_table_type .pick_add_cont .pick_add_plus{display:inline-block; margin:15px 10px 0 0; padding:1px 5px 3px 5px; color:#ffffff; font-size:11px; background:#959595;}
.mypage_table_type .order_num_link{color:#329cff; font-weight:bold; border-bottom:1px solid #329cff;}
.mypage_table_type em + .btn_gray_list,
.mypage_table_type strong + .btn_gray_list{margin:5px 0 0 0;}

/* 상품 체크박스 */
.mypage_table_type .td_chk .form_element label.check_s{padding: 0 0 0 5px;}
.mypage_table_type .td_chk{vertical-align:top;}

/* left type */
.mypage_table_type .table_left{border-top:1px solid #999999;}
.mypage_table_type .table_left th{padding:15px 10px 14px 20px; border-top:none 0; background:#f7f7f7; text-align:left;}
.mypage_table_type .table_left td{height:31px; padding:12px 10px 11px 15px; text-align:left;}
.mypage_table_type .table_left textarea{width:95%;}

/* ------------- 상단 마이페이지 정보(회원등급, 쿠폰, 마일리지, 예치금) ------------- */
.mypage_top_info{display:table; width:100%; margin:0 0 35px 0; border:2px solid #e3e3e3; background:#f7f9f8;}
.mypage_top_txt{display:table-cell; width:30%; padding:20px 0 20px 0; text-align:center; vertical-align:middle; background:#f7f9f8;}
.mypage_top_txt .grade_img{display:block; max-width:70px; margin:0 auto; padding:0 0 10px 0;}
.mypage_top_txt .grade_img img{max-width:70px;}
.mypage_top_txt .grade_txt{}
.mypage_top_txt .grade_txt strong{display:block; font-size:16px;}
.mypage_top_txt .grade_txt span{color:#333;}
.mypage_top_txt .grade_txt .btn_layer{margin:4px 0 0 0;}

.mypage_top_wallet{display:table-cell; width:69%; vertical-align:middle; background:#ffffff;}
.mypage_top_wallet ul{width:100%; padding:27px 10px 27px 10px; font-size:0; line-height:1;}
.mypage_top_wallet ul li{display:inline-block; width:33%; font-size:14px; border-left:1px solid #e1e3e2; text-align:center;}
.mypage_top_wallet ul li:first-child{border-left:none 0;}
.mypage_top_wallet li span{display:block; padding:0 10px 0 10px;}
.mypage_top_wallet li em{display:block; padding:15px 0 15px 0; font-weight:bold;}
.mypage_top_wallet li strong{padding:0 3px 0 0; font-size:24px; color:#ab3e55;}

/* 진행 중인 주문 */
.mypage_order_info_cont{margin:0 0 30px 0; padding:35px 0 35px 0; font-size:0; border:1px solid #e3e3e3; border-top:1px solid #999999; text-align:center;}
.mypage_order_info_cont ol{display:inline-block; width:80%; font-size:0; border-right:1px solid #e3e3e3; vertical-align:middle;}
.mypage_order_info_cont ol li{display:inline-block; width:10%; min-width:66px; padding:0 10px 0 30px; font-size:13px; background:url('../../img/mypage/mypgae_ing_next_bg.png') no-repeat left 50px; text-align:center;}
.mypage_order_info_cont ol li:first-child{padding-left:10px; background:none 0;}
.mypage_order_info_cont ol li b{display:block; padding:0 0 15px 0;}
.mypage_order_info_cont ol li strong{display:inline-block; width:52px; height:52px; padding:10px 0 0 0; color:#ffffff; font-size:18px; background:url('../../img/mypage/mypgae_ing_list_bg.png') no-repeat 0 0; text-align:center;vertical-align:middle;}
.mypage_order_info_cont .active strong{background:url('../../img/mypage/mypgae_ing_deliver_bg.png') no-repeat 0 0;}

.mypage_order_info_cont .order_case_list{display:inline-block; width:19%; font-size:0; text-align:center; vertical-align:middle;}
.mypage_order_info_cont .order_case_list ul{display:inline-block; width:70%; font-size:0;}
.mypage_order_info_cont .order_case_list ul li{padding:8px 5px 10px 5px; font-size:12px; border-top:1px dotted #bfbfbf; text-align:left;}
.mypage_order_info_cont .order_case_list ul li:first-child{border-top:none 0;}
.mypage_order_info_cont .order_case_list ul li span{float:right;}
.mypage_order_info_cont .order_case_list ul li span > em,
.mypage_order_info_cont .order_case_list ul li span > strong{padding:0 3px 0 0; font-size:15px; color:#ab3e55;}



/* ------------- 최근 주문 정보 ------------- */
.mypage_lately_info{position:relative;}
.mypage_lately_info_cont{}
/*.mypage_lately_info_cont .mypage_table_type .td_left{padding-left:20px;}*/

/* ------------- 최근 본 상품 ------------- */
.mypage_lately_goods{margin:50px 0 0 0;}
.mypage_lately_goods .mypage_zone_tit{margin:0 0 20px 0; border-bottom:1px solid #999999;}
.mypage_lately_goods .goods_list_cont ul li{margin-top:10px;}

/* ------------- 반품신청, 교환신청, 환불신청 ------------- */
.mypage_claim_cont{margin:0 0 50px 0;}
.mypage_claim_cont .mypage_table_type td strong{color:#333333;}
/* 사유, 정보 */
.mypage_claim_reason{margin:50px 0 0 0;}
.mypage_claim_info{margin:50px 0 0 0;}
/* 사유,정보 셀렉트 */
.mypage_claim_select select{width:200px;}
.mypage_claim_info input[type="text"]{width:200px;}


/* ------------- 쇼핑정보 관련 페이지 탭 ------------- */
.mypage_breakdown_tab{}
.mypage_breakdown_tab{padding:0; border-bottom:1px solid #bbbbbb;}
.mypage_breakdown_tab ul{float:none; width:100%; height:58px; margin:0 auto; font-size:0;}
.mypage_breakdown_tab li{display:inline-block; position:relative; min-width:200px; font-size:12px; text-align:center; z-index:10;}
.mypage_breakdown_tab li.on{z-index:20;}
.mypage_breakdown_tab li a{display:block; margin:0 0 0 -1px; padding:10px 20px 12px 20px; color:#999999; font-size:13px; border:1px solid #dadada; border-bottom:1px solid #bbbbbb; background:#ffffff;}
.mypage_breakdown_tab li.on a{padding-top:18px; margin-top:8px; color:#333333; font-weight:bold; border:1px solid #bbbbbb; border-bottom:1px solid #ffffff;}
.mypage_breakdown_tab li.on a span{display:inline-block; position:relative; top:-3px;}
.mypage_breakdown_tab li:first-child a{margin-left:0;}
.mypage_breakdown_tab li a strong{color:#ab3e55;}

/* ------------- 찜리스트------------- */
.mypage_wish_list{}
.mypage_wish_list .btn_wish_choice_del, .mypage_wish_list .btn_wish_choice_cart {margin:10px 0 0 0;}
.mypage_wish_list .mypage_table_type .icon_time_sale{display:block; position:relative; margin:0 0 5px 0;}
.mypage_wish_list .chk_none{display:block; min-height:17px; padding:5px 0 5px 19px; color:#3e3d3c; font-weight:normal; background:url('../../img/icon/etc/icon_warning.png') no-repeat left 8px;}
/* 추가 상품 */
.pick_add_list{margin:10px 5px 0 0; padding:2px 0 0 0; border-top:1px dotted #dbdbdb;}
.pick_add_list .pick_add_cont{margin:6px 0 0 0;}
.pick_add_list .pick_add_cont .pick_add_img{vertical-align:top;}
.pick_add_list .pick_add_cont .pick_add_info em{display:inline-block; font-weight:normal;}
.pick_add_list .pick_add_cont .pick_add_info em > a > img{margin:2px 0 0 0;}
.pick_add_list .pick_add_cont .pick_add_info .chk_none{margin:0;}
.cart_cont_list > table .img {float:left; border:1px solid #dbdbdb; margin:0 10px 0 0; }

/* ------------- 혜택관리 > 쿠폰 ------------- */
.mypage_coupon_name{}
.mypage_coupon_name strong{display:block; padding:5px 0 0 0; color:#333333;}
.coupon_date_day{display:inline-block; width:130px; padding:0 0 3px 0;}/* 유효기간 */
/* 사용전 */
.coupon_before_use{display:inline-block; width:66px; padding:2px 10px 3px 10px; color:#ab3e55; font-size:11px; border:1px solid #ab3e55; text-align:center; line-height:1;}
/* 사용완료, 장바구니사용, 주문사용, 사용만료 */
.coupon_finish_use,
.coupon_cart_use,
.coupon_order_use,
.coupon_expire_use{display:inline-block; width:66px; padding:1px 10px 3px 10px; color:#5a5a5a; font-size:11px; border:1px solid #cccccc; text-align:center; line-height:1;}

/* ------------- 혜택관리 > 예치금, 마일리지 ------------- */
.mypage_table_type .td_cash span,
.mypage_table_type .td_cash strong{display:inline-block; width:80px; text-align:right;}
.mypage_table_type .td_cash .cash_minus{color:#329cff;}
.mypage_table_type .td_cash .cash_plus{color:#3e3d3c;}
.cash_date_day{display:inline-block; width:150px;}/* 유효기간 */

/* ------------- 마이페이지 > 회원 회원정보 ------------- */
.my_page_password{}
.my_page_password p{font-size:14px; text-align:center;}
.my_page_password .mypage_zone_tit{margin:0 0 50px 0; padding:0 0 10px 0; font-size:14px; border-bottom:1px solid #999999;}
.my_page_password .id_pw_cont{overflow:hidden; margin:30px 0 30px 0; padding:26px 0 24px 0; border:1px solid #dadada; background:#f7f9f8; text-align:center;}
.my_page_password .id_pw_cont dl{display:inline-block; padding:5px 30px 5px 0; font-size:0; text-align:center; vertical-align:top;}
.my_page_password .id_pw_cont dt{display:inline-block; padding:5px 10px 0 0; font-size:14px; font-weight:bold; vertical-align:top;}
.my_page_password .id_pw_cont dd{display:inline-block; font-size:14px; text-align:left;}
.my_page_password .id_pw_cont dd strong{display:block; padding:5px 0 0 0; color:#ab3e55;}
.my_page_password .id_pw_cont dd .text_warning{font-size:12px;}
.my_page_password .sns_cont{margin:30px 0 30px 0; padding:35px 0 35px 0; border:1px solid #dadada; background:#ffffff; text-align:center;}


/* ------------- 마이페이지 > 내정보수정 ------------- */
.my_page{}
.my_page h3{font-weight:bold;}
.my_page .mypage_zone_tit{margin:0 0 50px 0; padding:0 0 10px 0; font-size:14px; border-bottom:1px solid #3c3c3c;}
.my_page .join_base_wrap .member_cont{width:100%; margin:0; padding:0;}
/* 계정 연결 정보 */
.site_info_box{margin:40px 0 0 0;}
.site_sns_info{padding:30px 20px 30px 20px; border:1px solid #dadada;}
.site_sns_info .site_sns_list{}
.site_sns_info .site_sns_list h4{display:inline-block; margin:0 14px 0 0; color:#777777;}
.site_sns_info .site_sns_list em{display:block; padding:0 0 15px 0;}
.site_sns_info .site_sns_list span{display:inline-block; margin:0 6px 0 0; vertical-align:middle;}
.site_sns_info .site_sns_list a{display:inline-block; width:225px; height:42px; margin:0 6px 0 0; border:1px solid #cfcfcf; background:#fafafa; text-align:center; vertical-align:middle; line-height:1;}
.site_sns_info .site_sns_list a > span{display:block; margin:14px 0 0 0; font-size:13px;}
.site_sns_info .site_sns_list img{margin:0 8px 0 0;}
.site_sns_info .site_sns_list .my_facebook{color:#3b5998;}
.site_sns_info .site_sns_list .my_payco{color:#fa4a4a;}
.site_sns_info .site_sns_list .my_naver{color:#2db400;}
/* 약관동의현황 */
.my_page .join_agreement_cont{margin:40px 0 0 0;}
.my_page .join_agreement_cont h3{margin:0 0 10px 0;}

/* ------------- 마이페이지 > 회원탈퇴 ------------- */
.hack_out {margin:0 0 50px 0;}
.hack_out .mypage_zone_tit{margin:0 0 50px 0; padding:0 0 10px 0; font-size:14px; border-bottom:1px solid #999999;}
.hack_out .mypage_unregister .mypage_zone_tit{margin:0; padding:0 0 10px 0; font-size:14px; border-bottom:none 0;}
.hack_out .mypage_unregister .unregister_info{margin:0 0 40px 0; padding:15px 15px 15px 15px; color:#717171; border:1px solid #dadada;}
.hack_out .mypage_unregister .hack_out_list li{float:left; width:35%; padding:0 0 7px 0;}
.hack_out .mypage_unregister textarea{width:98%; height:100px;}

/* ------------- 마이페이지 > 배송지 관리 ------------- */
.mypage_shipping{position:relative;}
.mypage_shipping_cont{position:relative;}
.mypage_shipping_cont .pick_list_num{position:absolute; top:-50px; left:92px; font-size:13px;}
.mypage_shipping_cont .mypage_table_type span{display:block;}
.mypage_shipping_cont .mypage_table_type .btn_gray_list{margin:5px 0 5px 0;}
.mypage_table_type .td_phone span{width:150px;}


/* ------------- 마이페이지 > 주문 상세 ------------- */
.order_num_view{padding:0 0 0 10px; color:#329cff; font-size:12px;}
.order_view_info{}
.order_view_info h4{margin:50px 0 0 0;}
.order_view_info .total_pay_money{font-size:20px;}
/* 결제 정보 */
.payment_info{}
.payment_info .btn_layer{display:block; margin-top:5px;}
/* 할인헤택 */
.discount_benefit{}
.discount_benefit dl{float:left; width:100%; margin:5px 0 0 0;}
.discount_benefit dt{float:left; width:60px;}
.discount_benefit dd{float:left; width:75px; text-align:right;}
/* 결제수단 */
.pay_with_list{color:#333333;}
.pay_with_list > strong{display:block; font-size:13px;}
.pay_with_list ul{margin:5px 0 0 0;}
.pay_with_list ul li{padding:2px 0 2px 0;}
.pay_with_list .deposit_money{}
/* 적립 마일리지 */
.saving_mileage{overflow:hidden; color:#333333;}
.saving_mileage > strong{display:block; font-size:13px;}
.saving_mileage dl{float:left; width:100%; margin:5px 0 0 0;}
.saving_mileage dt{float:left; width:90px;}
.saving_mileage dd{float:left; width:75px; text-align:right;}
/* 세금계산서 */
.admin_text{padding:5px 0 0 0;}

/* 마이페이지 - 배송방식 상태 확인 레이어 */
.delivery-method-layer {
    position: relative;
    width: 500px;
    min-height: 300px;
    background: #fff;
}
.delivery-method-layer .wrap {
    position: relative;
    min-height: 296px;
    padding: 0 0 0 20px;
    border: 2px solid #555;
}
.delivery-method-layer .wrap h4 {
    margin: 0 17px 0 0;
    padding: 14px 0;
    border-bottom: 1px solid #717171;
    color: #000;
    font-size: 18px;
}
.delivery-method-layer .delivery-method-layer-table { margin: 0 17px 0 0; }
.delivery-method-layer .delivery-method-layer-table table { border-top: 1px solid #dbdbdb !important; }
.delivery-method-layer .delivery-method-layer-table table tr th { border-top: 0px; }
