{*** 플러스 리뷰  레이어 팝업창 | board/plus_review_popup.php ***}
<div id="plusReviewPopup" class="sys_pop">
    <div class="ly_head">
        <h2>{=__('리뷰등록')}</h2>
    </div>

    <div class="box">

        <div class="view" style="width:400px;">
            <form id="plusPlusReviewForm" method="post" action="../board/plus_review_ps.php" target="ifrmProcess" enctype="multipart/form-data">
                <input type="hidden" name="mode" value="addPopup">
                <div class="ly_ct">
                    <div class="content plus_review_register">
                        <!--{? plusReviewConfig.reviewBenefitInfo}-->
                        <div class="pr_info_text">
                            {=plusReviewConfig.viewReviewBenefitInfo}
                        </div>
                        <!--{/}-->
                        <div class="pr_user_info_select">
                            <dl>
                                <dt>작성자</dt>
                                <dd>{=writer}</dd>
                            </dl>

                            <dl class="pr_differing_select">
                                <!--{ ? data.isShowLayerButton }--><dt><strong>{=__('다른주문내역')}</strong></dt><!--{/}-->
                                <dd>
                                    <!--{ ? data.isShowLayerButton }--><a href="#addPlusReviewOrderLayer" class="btn_pr_goods btn_open_layer" data-type="order">{=__('주문선택')}</a><!--{/}-->
                                    <!--{ ? data.buyGoodsData }-->
                                    <div class="pr_goods_cont">
                                        <input type="hidden" name="orderGoodsNo" value="{=data.buyGoodsData.sno}">
                                        <span class="pr_photo cell_img"><img src="{=data.buyGoodsData.goodsImageSrc}"   alt=""></span>
                                        <span>
                                            <strong class="cell_info">{=data.buyGoodsData.goodsNm}</strong>
                                            <em class="cell_price">{=data.buyGoodsData.totalGoodsPriceText}</em>
                                        </span>
                                    </div>
                                    <!-- //pr_goods_cont -->
                                    <!--{/}-->
                                    <a href="javascript:void(0)" class="btn_pr_none js_btn_review_skip">{=__('이 상품 리뷰등록 안함')} &gt;</a>
                                </dd>
                            </dl>

                            <dl>
                                <dt>{=__('평가')}</dt>
                                <dd>
                                    <div class="plus_review_write_select">
                                        <select class="chosen-select" name="goodsPt">
                                            <!--{ @range(5,1)}-->
                                            <option data-info="{=plusReviewConfig.goodsPtText[.value_]}" value="{.value_}" <!--{? data.goodsPt == .value_}-->selected<!--{/}-->><!--{ @range(1,.value_)}-->★<!--{/}--></option>
                                            <!--{/}-->
                                        </select>
                                    </div>
                                    <!-- //plus_review_write_select -->
                                </dd>
                            </dl>
                        </div>
                        <!-- //pr_user_info_select -->

                        <!--{ ? plusReviewConfig.addFormFl == 'y' || plusReviewConfig.displayOptionFl == 'y'}-->
                        <div class="plus_review_detail_select">
                            <!--{ ? plusReviewConfig.addFormFl == 'y'}-->
                            <!--{@plusReviewConfig.serviceAddForm}-->
                            <dl>
                                <dt>{=.labelName}</dt>
                                <dd>
                                    <input type="hidden" name="addFormLabel[]" value="{=.labelName}">
                                    <!--{ ? .inputType == 'select'}-->
                                    <select name="addFormValue[]"  class="<!--{?.requireFl == 'y'}-->js_pr_valid_form<!--{/}-->" data-label="{=.labelName}" >
                                        <!--{@.labelValue}-->
                                        <option value="{=..value_}">{=..value_}</option>
                                        <!--{/}-->
                                    </select>
                                    <!--{:}-->
                                    <input type="text" data-label="{=.labelName}"  name="addFormValue[]" class="<!--{ ? .requireFl == 'y'}-->js_pr_valid_form <!--{/}-->" placeholder="{=.labelValue[0]}" >
                                    <!--{/}-->
                                </dd>
                            </dl>
                            <!--{/}-->
                            <!--{/}-->
                            <div class="js_buy_goods_option">
                            <!--{ ? plusReviewConfig.displayOptionFl == 'y'}-->
                            <!--{ @ data.buyGoodsData.option}-->
                            <dl>
                                <dt>{=.name}</dt>
                                <dd>{=.value}</dd>
                            </dl>
                            <!--{/}-->
                            <!--{/}-->
                            </div>
                        </div>
                        <!-- //plus_review_detail_select -->
                        <!--{/}-->

                        <div class="plus_review_write_textarea">
                            <textarea class="textarea"  name="contents" placeholder="{=plusReviewConfig.reviewPlaceHolder}"></textarea>
                        </div>

                        <div class="review_file_upload">
                            <div class="btn_upload_box">
                                <button type="button" class="btn_upload"><img src="../img/etc/ico_camera.png"></button>
                                <input type="file" name="upfiles[]" class="file">
                            </div>

                            <div class="file_upload_list">
                                <ul class="js_pr_attach_list">

                                </ul>
                            </div>
                            <!-- //file_upload_list -->
                        </div>
                        <!-- //review_file_upload -->

                        <div class="btn_center_box">
                            <button type="button" class="btn_pr_cancle" onclick="gd_close_plus_review_popup()">{=__('취 소')}</button>
                            <button type="submit" class="btn_pr_save">{=__('저 장')}</button>
                        </div>

                    </div>
                    <!-- //plus_review_register -->
                </div>
                <!-- //ly_ct -->
            </div>
            <!-- //view -->
        </form>
        <!--{ ? plusReviewConfig.popupTodayCloseFl == 'y'  }-->
        <!-- 오늘 하루 보이지 않음 : start -->
        <div class="check">
				<span class="form_element">
					<label for="todayUnSee_plusReview" class="check_s" >{=__('오늘 하루 보이지 않음')}</label>
					<input type="checkbox" id="todayUnSee_plusReview" class="js_pr_btn_popup_today">
				</span>
        </div>
        <!-- 오늘 하루 보이지 않음 : end -->
        <!--{ / }-->
    </div>
    <!-- //box -->
    <a href="#close" class="ly_close" onclick="gd_close_plus_review_popup()"><img src="../img/common/layer/btn_layer_close.png" alt="{=__('닫기')}"></a>
</div>

<div id="addPlusReviewOrderLayer" class="dn"></div>

<script type="text/javascript">
    var goodsNo = '{=data.goodsNo}';
    var buyGoodsNo = '{=data.buyGoodsNo}';
    function gd_close_plus_review_popup(){
        $('#plusReviewPopup').hide();
    }

    $(function () {
        var maxFileNumber = '{=plusReviewConfig.uploadMaxCount}';
        var widthPx = 400;
        var top = '{=plusReviewConfig.popupPosition.top}px';
        var left = '{=plusReviewConfig.popupPosition.left}px';

        $('#plusReviewPopup').css('top',top).css('left',left);

        $('.js_pr_btn_popup_today').bind('click',function () {
            var name='plusReview';
            $.cookie(name, 'true', {path: '/', expires: 1});
            setTimeout("gd_close_plus_review_popup()");
        })

        $('.js_btn_review_skip').bind('click',function () {
            $.ajax({
                method: "POST",
                data: {mode : 'skipReview' , orderGoodsNo : $('[name=orderGoodsNo]').val()},
                cache: false,
                url: "../board/plus_review_ps.php",
                success: function (data) {
                    if(data.result == 'ok'){
                        gd_close_plus_review_popup();
                    }
                },
                error: function (data) {
                    alert(data.message);
//                    gd_close_layer();
                }
            });
        })

        $('.btn_open_layer').bind('click', function (e) {
            if ($(this).attr('href') == '#addPlusReviewOrderLayer') {
                var params = {
                    mode: 'plusReviewPopup',
                };
                $.ajax({
                    method: "POST",
                    data: params,
                    cache: false,
                    url: "../share/layer_review_order_select.php",
                    success: function (data) {
                        $('#addPlusReviewOrderLayer').empty().append(data);
                        $('#addPlusReviewOrderLayer').find('>div').currentCenter().css('z-index', 5000);
                    },
                    error: function (data) {
                        alert(data.message);
                        gd_close_layer();
                    }
                });
            }
        });

        $('#plusReviewPopup .box .view').css('width', widthPx + 'px');

        gd_init_file_upload();

        var formCheckMinLength = '{ = plusReviewConfig.formCheckMinLength}';
        var uploadRequiredFl = '{=plusReviewConfig.uploadRequiredFl}';
        $("#plusPlusReviewForm").validate({
            ignore: ':hidden',
            submitHandler: function (form) {
                var isValidSuccess = true;
                $('.js_pr_valid_form').each(function () {
                    if(_.isEmpty($(this).val())){
                        alert(__('%s 항목을 입력(선택)해주세요.',$(this).data('label')));
                        $(this).focus();
                        isValidSuccess = false;
                        return false;
                    }
                })

                if(isValidSuccess === false){
                    return false;
                }

                if (uploadRequiredFl == 'y') {
                    if($('#plusReviewPopup').find('[name^="uploadFileNm"]').length < 1 ){
                        alert(__('파일첨부는 필수 입니다.'));
                        return false;
                    }
                }

                {customReviewScript}
                form.submit();
            },

            rules: {
                'contents': {
                    required: true,
                    minlength: formCheckMinLength,
                }
            },
            messages: {
                'contents': {
                    required: __('내용을 입력해주세요.'),
                    minlength: __('최소 {0}자 이상 작성하셔야 합니다.'),
                },
            },
        });

        function gd_init_file_upload() {
            var maxUploadFile = maxFileNumber;
            maxUploadFile = maxUploadFile ? maxUploadFile : 0;

            /**
             * 첨부파일삭제
             */
            $("#plusReviewPopup .js_pr_attach_list").on('click', '.item', function () {
            var form = $(this).closest('form');
                if (confirm(__('첨부된 파일을 삭제하시겠습니까?'))) {
                    $(this).remove();
                    var index = $(this).data('index');
                    if($(this).data('mode') == 'old') {
                        var delHtml = '<input type="hidden" name="delFile[' + index + ']" value="y" />';
                        form.append(delHtml);
                    }
                    else {
                        var saveFileNm = $('#plusReviewPopup input[name="saveFileNm[]"].js_pr_file_'+index).val();
                        $('#plusReviewPopup .js_pr_file_'+index).remove();

                        var token = '{=token}';
                        $.ajax({
                            method: "POST",
                            data: {mode : 'deleteImage' , token : token , goodsNo :goodsNo , saveFileNm : saveFileNm },
                            cache: false,
                            url: "../board/plus_review_ps.php",
                            success: function (data) {
                            },
                            error: function (data) {
                            }
                        });
                    }
                }
            });

            $('#plusReviewPopup input:file').bind("click", function () {
              var form = $(this).closest('form');
                if (form.find('.js_pr_attach_list .item').length >= maxFileNumber) {
                    alert(__('첨부파일은 최대 %1$s개 까지 업로드 가능합니다.', maxFileNumber.toString()));
                    return false;
                }
            })

            /**
             * 첨부파일 업로드
             */
            $('#plusReviewPopup input:file').bind("change", function () {
               var form = $(this).closest('form');
                //ajax업로드 처리
                var uploadImages = [];
                var orderGoodsNo = 0;
                if ($('[name=orderGoodsNo]').length > 0) {
                    orderGoodsNo = $('[name=orderGoodsNo]').val();
                }
                var self = this;
                gdAjaxUpload.upload(
                    {
                        formObj: $("#plusReviewPopup"),
                        thisObj: $(this),
                        actionUrl: '../board/plus_review_ps.php',
                        params: {orderGoodsNo: orderGoodsNo, goodsNo: goodsNo, 'mode': 'ajaxUpload'},
                        successAfter: function (data) {
                            form.find('[name="uploadFileNm[0]"]').remove();
                            form.find('[name="saveFileNm[0]"]').remove();
                            var fileReader = new FileReader();
                            var uniqueId =  (new Date().getTime());
                            fileReader.readAsDataURL(self.files[0]);
                            fileReader.onload = function () {
                                var previewUrl = this.result;
                                var attachHtml = '<li class="item" data-index="'+uniqueId+'"><img src="' + previewUrl + '" width="100%" height="100%"></li>';
                                form.find('.js_pr_attach_list').append(attachHtml);
                            };
                            var uploadFileNm = "<input type='hidden' name='uploadFileNm[]' class='js_pr_file_"+uniqueId+"' value='" + data.uploadFileNm + "'  >";
                            var saveFileNm = "<input type='hidden' name='saveFileNm[]' class='js_pr_file_"+uniqueId+"' value='" + data.saveFileNm + "'  >";
                            form.append(uploadFileNm);
                            form.append(saveFileNm);

                            // ie 일때 파일첨부 변경
                            var agent = navigator.userAgent.toLowerCase();
                            if ((navigator.appName == 'Netscape' && agent.indexOf('trident') != -1) || (agent.indexOf("msie") != -1)) {
                                $('#plusReviewPopup input:file').replaceWith($('#plusReviewPopup input:file').clone(true));
                            } else {
                                $('#plusReviewPopup input:file').val('');
                            }
                        },
                        failAfter: function (data) {
                        }
                    }
                )

                if (gdAjaxUpload.isSuccess == false) {
                    return false;
                }

            });
        }

    });

    function gd_set_add_order(orderGoodsNo) {
        $.ajax({
            method: "POST",
            data: {mode: 'getOrder', 'orderGoodsNo': orderGoodsNo},
            cache: false,
            url: "../board/plus_review_ps.php",
            success: function (data) {
                console.log(data.data);
                var orderData = data.data;
                buyGoodsNo = orderData.goodsNo;
                $('[name=orderGoodsNo]').val(orderData.sno);
                $('.pr_goods_cont .cell_info').html(orderData.goodsNm);
                $('.pr_goods_cont .cell_img img').attr('src', orderData.goodsImageSrc);
                $('.pr_goods_cont .cell_price').html(orderData.totalGoodsPriceText);
                var optHtml = '';
                if (!_.isUndefined(orderData.option)) {
                    for (var i = 0; i < orderData.option.length; i++) {
                        optHtml += '<dl>';
                        optHtml += '<dt>' + orderData.option[i].name + '</dt>';
                        optHtml += '<dd>' + orderData.option[i].value + '</dd>';
                        optHtml += '</dl>';
                    }
                }
                $('.js_buy_goods_option').empty().html(optHtml);

            },
            error: function (data) {
                alert(data.message);
                gd_close_layer();
            }
        });
    }
</script>
{customHeader}
