{*** 상품 리스트 | goods/goods_list.php ***}
{ # header }
<div class="content">
    <div class="location_wrap">
        <div class="location_cont">
            <em><a href="#" class="local_home">HOME</a> &nbsp;</em>
            <!--{ ? goodsCategoryList }-->
            <!--{ @ goodsCategoryList }-->
            <span>&gt; </span>
            <div class="location_select">
                <div class="location_tit"><a href="#"><span>{=.cateNm}</span></a></div>
                <ul style="display:none;">
                    <!--{ @ .data }-->
                    <li>{? ..value_ == '갤러리'}<a href="https://www.instagram.com/bonitaria_acrylic/" target="_blank">{: ..value_ == '시안의뢰'}<a href="http://bonitaria.com/board/list.php?bdId=signboard">{:}<a href="?{cateType}Cd={..key_}">{/}<span>{=..value_}</span></a></li>
                    <!--{ / }-->
                </ul>
            </div>
            <!--{ / }-->
            <!--{ / }-->
        </div>
    </div>
    <!-- //location_wrap -->

    <div class="goods_list_item">

        <div class="goods_list_item_tit">
            <h2>{=goodsCategoryList[cateCd]['cateNm']}</h2>
        </div>
        <!--{ ? naviDisplay.naviUse =='y' }-->
        <!--{ ? themeInfo.cateHtml1 }-->
        <!-- 상단 꾸미기 영역 -->
        <div class="addition_zone">
            {=stripslashes(str_replace('&nbsp;', ' ', themeInfo.cateHtml1))}
        </div>
        <!--{ / }-->
        <!--{ ? dataSubCategory( cateCd,cateType ) }-->
        <div class="list_item_category">
            <ul>
                <!--{ @ dataSubCategory( cateCd,cateType ) }-->
                <li class="<!--{ ? cateCd == .cateCd }-->on<!--{ / }-->">
                    <a href="?{cateType}Cd={.cateCd}"><span>{.cateNm} <!--{ ? naviDisplay.naviCount =='y' }--><em>({.goodsCnt+0})</em><!--{ / }--></span></a>
                </li>
                <!--{ / }-->
            </ul>
        </div>
        <!--{ / }-->
        <!--{ / }-->

        <!-- 설문조사 배너 -->{=pollViewBanner()}<!-- 설문조사 배너 -->

        <!--{ ? themeInfo.recomDisplayFl == 'y'  && widgetGoodsList}-->
        <!--{ ? themeInfo.cateHtml2 }-->
        <!-- 추천상품 상단 꾸미기 영역 -->
        <div class="addition_zone">
            {=stripslashes(str_replace('&nbsp;', ' ', themeInfo.cateHtml2))}
        </div>
        <!-- //추천상품 상단 꾸미기 영역 -->
        <!--{ / }-->

        <!-- 추천 상품 나오는영역 -->
        <div class="best_item_view">
            <div class="best_item_view_tit">
                <h3>{=__('추천상품')}</h3>
            </div>
            <div class="goods_list">
                <div class="goods_list_cont">
                    <p>{=includeWidget('goods/_goods_display.html')}</p>
                </div>
            </div>
        </div>
        <!-- //추천 상품 나오는영역 -->
        <!--{ / }-->

        <!--{ ? themeInfo.cateHtml3 }-->
        <div class="addition_zone">
            {=stripslashes(str_replace('&nbsp;', ' ', themeInfo.cateHtml3))}
        </div>
        <!--{ / }-->
        <div class="goods_pick_list">
            <span class="pick_list_num">{=__('상품')} <strong>{=number_format(gd_isset(page->recode['total']))}</strong> {=__('개')}</span>
            <form name="frmList" action="">
                <input type="hidden" name="{cateType}Cd" value="{cateCd}"/>
                <div class="pick_list_box">
                    <ul class="pick_list">
                        <li>
                            <input type="radio" id="sort1" class="radio" name="sort" value="">
                            <label for="sort1">{=__('추천순')}</label>
                        </li>
                        <li>
                            <input type="radio" id="sort2" class="radio" name="sort" value="orderCnt desc,g.regDt desc">
                            <label for="sort2">{=__('판매인기순')}</label>
                        </li>
                        <li>
                            <input type="radio" id="sort3" class="radio" name="sort" value="goodsPrice asc,g.regDt desc">
                            <label for="sort3">{=__('낮은가격순')}</label>
                        </li>
                        <li>
                            <input type="radio" id="sort4" class="radio" name="sort" value="goodsPrice desc,g.regDt desc">
                            <label for="sort4">{=__('높은가격순')}</label>
                        </li>
                        <li>
                            <input type="radio" id="sort5" class="radio" name="sort" value="reviewCnt desc,g.regDt desc">
                            <label for="sort5">{=__('상품평순')}</label>
                        </li>
                        <li>
                            <input type="radio" id="sort6" class="radio" name="sort" value="g.regDt desc">
                            <label for="sort6">{=__('등록일순')}</label>
                        </li>
                    </ul>
                    <div class="choice_num_view">
                        <select class="chosen-select" name="pageNum">
                            <!--{ @ goodsData.multiple }-->
                            <option value="{=.value_}"  <!--{ ? pageNum == .value_ }-->selected='selected'<!--{ / }-->>{=.value_}{=__('개씩보기')}</option>
                            <!--{ / }-->
                        </select>
                    </div>
                    <!-- //choice_num_view -->
                </div>
                <!-- //pick_list_box -->
            </form>
        </div>
        <!-- //goods_pick_list -->

        <div class="goods_list">
            <div class="goods_list_cont">
                <!-- 상품 리스트 -->
                { # goodsTemplate }
                <!-- //상품 리스트 -->
            </div>
        </div>

        <div class="pagination">
            {page->getPage()}
        </div>

    </div>
    <!-- //goods_list_item -->
	<script type="text/javascript">
		$(document).ready(function () {

			$('form[name=frmList] select[name=pageNum]').change(function() {
				$('form[name=frmList]').get(0).submit();
			});

			$('form[name=frmList] input[name=sort]').click(function() {
				$('form[name=frmList]').get(0).submit();
			});

			$(':radio[name="sort"][value="{sort}"]').prop("checked","checked")
			$(':radio[name="sort"][value="{sort}"]').next().addClass('on');

		});
	</script>
</div>
<!-- //content -->

{ # footer }
